<div class="row text-center">
    <div><h3>Edit Task</h3></div>
</div>

<div class="list">	
	<form>
	  <div class="row">

          <div class="small-12 columns">
          	Name*
            <input ng-model="task_name" type="text" placeholder ="Task Name">
          </div>

          <div class="small-12 columns" ng-show="empty_task" >
            Task name is required!
          </div>        

          <div class="small-12 columns">
          	Description
            <input ng-model="task_description" type="text" placeholder ="Task Description">
          </div>    

          <div class="small-12 columns">
          	<!-- Assigned User
            <select ng-model="assigned_user_id" class = "select">
      				<option ng-repeat="user in usersData" value={{user._id}}>{{user.name}}</option>
    				</select> -->
            Assigned User
            <select ng-model="assigned_user" class = "select" ng-options="user.name for user in usersData"></select>
          </div>   

         <!--  <div class="small-12 columns">
            Assigned User 1
            <select ng-model="assigned_user_id" class = "select" ng-options = "">
              <option ng-repeat="user in usersData" value={{user._id}}>{{user.name}}</option>
            </select>
          </div>   
 -->


   <!--        <div class="small-12 columns">
          	Assigned User
            <select ng-model="assigned_user" class = "select" ng-options="user.name for user in usersData">
      				<option value="">{{user.name}}</option>
    				</select>
          </div>    -->

          <div class="small-12 columns">
          	Deadline*
          	<datepicker date-min-limit="2014/07/04" date-max-limit="2020/09/09">
        			<input placeholder ="Task Deadline" type="text" ng-model="task_deadline"/>
      			</datepicker>
          </div>

          <div class="small-12 columns" ng-show="empty_deadline" >
            Deadline is required!
          </div> 

          <div class="small-12 columns">
            Completed: &nbsp;&nbsp;
          <form class="small-12 columns">
            <input type="radio" ng-checked="completed" ng-click="completed=true">
            &nbsp;YES  
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" ng-checked="!completed" ng-click="completed=false"/>
            &nbsp;NO<br/>
          </form> 
        </div>

          <div class="small-12 columns" ng-show="editTaskSuccess" >
            Task {{task_name}} has been edited!
          </div>
    </div>
    <div class="text-center">
      <button ng-click="editTaskInfo()" class="button tiny info">Submit</button>
    </div>
  </form>
</div>

