<div class = "row">
	<div class="text-right">
    <a class="button" href="#/add_task">Add Task</a>
  </div>
<div class = "row text-center">
        <h4>Tasks List</h4>
        <br>
</div>

<div class="text-left">
	  <form>
	   	Pending: &nbsp;
	    <input type="radio" name="PCA" ng-click="ToshowPending()" checked="checked"/> 
	    &nbsp;&nbsp;&nbsp;&nbsp;
	    Completed: &nbsp;
	    <input type="radio" name="PCA" ng-click="ToshowCompleted()"/>
	    &nbsp;&nbsp;&nbsp;&nbsp;
	    All: &nbsp;
	    <input type="radio" name="PCA" ng-click="ToshowAll()"/>
	  </form> 
	</div>
</div>	

<div class = "row">
    Sort by:
<!--     <select ng-model="sortingM" class = "select">
      	<option ng-repeat="sortingM in sortingMethods" value="sorting">{{sortingM}}</option>
    </select> -->
    <select ng-model="sortingM" ng-change="selectAndShow(sortingM)" class = "select" ng-options="o as o for o in sortingMethods"></select>
    <form>
 			Ascending <input type="radio" name="order" ng-click="ascending(sortingM)" checked="checked"/> &nbsp;&nbsp;&nbsp;
      Descending <input type="radio" name="order" ng-click="descending(sortingM)"/>
    </form>
</div>

<div class="row ">
    <div class="large-1  small-4  text-left columns">
        <button  class="button tiny info" ng-click="prev()">Prev</button>
    </div>
    <div class="large-1  small-4 text-right columns">
        <button  class="button tiny info" ng-click="next()" >Next</button>
    </div>
</div>

<div class="row text-center ">
	<ul ng-repeat="task in tasksToShow.slice(n, n+10)" class="small-block-grid-1 medium-block-grid-3 large-block-grid-3" >
		<li class="text-left">
			<a href="#/tasks/{{task._id}}"><b>{{task.name}}</b></a>
		</li>
		<li class="text-left">
			<span><b>Deadline:</b> {{task.deadline}}</span>
			<br>
			<span><b>Date created:</b> {{task.dateCreated}}</span>
			<br>
			<span><b>Assigned to:</b> {{task.assignedUserName}}</span>
		</li>
		<li >
			<button ng-click="deleteTask(task._id)" class="button tiny info" style="color:white; background-color:red">Delete</button>
		</li>
	</ul>

</div>