<div class = "row text-right">
	<a class="button" href="#/add_user">Add User</a>
</div>
<div class = "row text-center">
	<h4>User List</h4>
    <br>
</div>

<div class = "row text-center">
    <ul ng-repeat="user in usersData" class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">

        <li><a href="#/users/{{user._id}}"><b>{{user.name}}</b></a></li>
        <li><b>{{user.email}}</b></li>
        <li><button ng-click="deleteUser(user._id)" class="button tiny info" style="color:white; background-color:red">Delete</button></li>
    </ul>
</div>



