<div class = "row text-center">
	<a class="button" href="#/add_user">Add User</a>
</div>
<div class = "row text-center">
	<h4>Users</h4>
</div>

<div class = "row text-center">
	<div ng-repeat="user in usersData">
			<div>
				<a href="#/users/{{user._id}}">{{user.name}}</a> &nbsp;&nbsp;&nbsp;&nbsp; {{user.email}}
				<!-- <br>{{user._id}} -->
				<!-- <div class="text-center"> -->
	      	<button ng-click="deleteUser(user._id)" class="button tiny info">Delete</button>
	    	<!-- </div> -->
		</div>
	</div>
</div>



