<div class = "row text-center">	
	<h3>User Profile</h3>
	<div>
		{{user.name}} &nbsp;&nbsp;&nbsp;&nbsp; {{user.email}}
		<!-- <br>{{user._id}} -->
	</div>
	<h3>Pending Tasks</h3>
	<div ng-repeat="task in pendingTasks">
		{{task.name}} &nbsp;&nbsp;&nbsp;&nbsp; {{task.deadline}} &nbsp;&nbsp;
		<button ng-click="completeTask(task._id)" class="button tiny info">Completed</button>
	</div>	
	<button ng-click="showCompletedTasks()" class="button">	Show Completed Tasks
	</button>
	<div ng-repeat="completedtask in completedTasks" ng-show="show">
		{{completedtask.name}} &nbsp;&nbsp;&nbsp;&nbsp; {{completedtask.deadline}} &nbsp;&nbsp;
	</div>
</div>